body {
    background-color: #AFA2FF;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

.converter__inner {
    border-radius: 3px;
}

form {
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    font-size: 26px;
}

input {
    padding: 10px;
    border: 0px solid #fff;
    background-color: #fff;
}

input:focus {
    border: 0px solid #fff;
    background-color: #fff;
}

p {
    width: 100%;
    font-size: 30px;
    color: #002222;
    text-align: center;
}
